<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peгиcтpация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register-style.css') }}">
</head>
<body>
    <h1>Регистрация</h1>
    <form action="/register" method="POST">
        <div>
            <label for="">Логин:</label>
            <input type="text" name="login">
        </div>
        <div>
            <label for="">Пароль:</label>
            <input type="password" name="pass1">
        </div>
        <div>
            <label for="">Подтверждение пароля:</label>
            <input type="password" name="pass2">
        </div>
        <div>
            <input type="submit" value="Зарегестрироваться">
        </div>
    </form>
    <div class="errors">
        <!-- Тут будут ошибки -->
        {% for error in errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
</body>
</html>